opencv-python
opencv-contrib-python
numpy==1.19.3 # cause 1.19.4 has a bug
# for linux
pyvirtualcam
# for windows - requires obs
pyfakewebcam
py-cui
windows-curses

# for filters
scipy

# for cli
click

onnx
onnx-tf
onnxruntime
tensorflow

pyside2

